# 一些生成的中间文件和日志文件
__pycache__/
logs/
app/__pycache__/

# app/static用于存放需要使用的资源文件，如css等

# 虚拟环境
.venv/

# resource用于存放一些资源，不需上传
resource/

# migrations用于存放数据库，不需上传
migrations/

#虚拟环境下一些库的配置文件
!.venv/Lib/site-packages/flask_login/config.py