{% extends "base.html" %}

{% block content %}
<h1>用户注册</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }}<br>
        {{ form.username(size=32) }} 6~20位字母、数字和下划线，必须以字母开头<br>
        {% for error in form.username.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}<br>
        {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.password2.label }}<br>
        {{ form.password2(size=32) }}<br>
        {% for error in form.password2.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        您的身份是：
        {% for subfield in form.identity %}
            {{ subfield }} {{ subfield.label }} 
        {% endfor %}
        {% for error in form.identity.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        请仔细阅读<a href="{{ url_for('service_item') }}" target="blank">用户服务条款</a><br>
        {{ form.accept }} {{ form.accept.label }}<br>
        {% for error in form.accept.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}